# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Root level env
.env

# Frontend build & env
frontend/.next/
frontend/.env.local
frontend/node_modules/

# Backend
backend/vendor/
backend/.env
backend/storage/logs/*.log
